<div class="welcome-page">
  <div class="content">
    <h1>Bem vindo</h1>
    <img src="assets/images/pokemon-logo.png" alt="Pokemon app">
    <span>App</span>

    <div class="painel">

      <div class="row">

        <div class="col">
          <img src="assets/images/female-trainer.png" alt="trainer">
        </div>

        <div class="col">
          <img src="assets/images/male-trainer.png" alt="trainer">
        </div>

      </div>

      <button class="btn btn-primary btn-lg" (click)="start()">Começar</button>
      
    </div>
  </div>
</div>
