.home-page {
  width: 90%;
  margin: auto;
  text-align: center;

}

.header {
  padding: 10px;
  height: 60px;
  background-color: #ddd;
}

.header img {
  width: 10%;
  height: auto;
}

.search {
  margin-top: 10px;
  width: 400px;
}

.header button {
  float: right;
}

.item-card {
  position:relative;
  display:flex;
  flex-flow:column wrap;
  width:400px;
  height:40px;
  background-color: #edece3;
  margin-top: 4px;
  text-align: left;
  cursor: pointer;
}

.col1 img {
  width: 40%;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 50px;
  margin: 5px;
}
.col2 p {
  font-weight: bold;
  font-size: 26px;
  margin: 4px;
}

.col1{ width:20%; height:100%; }
.col2{ width:60%; height:50%; }

.pokemon-painel {
  margin: 50px;
}
